body {
	vertical-align:middle;
}
div.container {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:330px;
	border:none;
}
div.boxes {
	/* border:1px solid black; */
}

#bufferdiv {
	position:absolute;
	visibility:hidden;
}

#gamediv {
	position:relative;
	width:200px;
	height:400px;
	padding:4px;
	border:2px solid grey;
}

#nextpiecediv {
	position:absolute;
	border:2px solid grey;
	left:218px;
	top:0px;
	width:100px;
	height:100px;
	padding:4px;
}

#scorecontainer {
	position:absolute;
	border:2px solid grey;
	left:218px;
	top:118px;
	width:100px;
	height:100px;
	padding:4px;
}
	#scorecontainer p {
		display:inline;
		margin:2px;
		margin-top:9px;
		margin-bottom:1px;
		font:16px fantasy;
	}
	
	div.scoreinfo {
		display:block;
		border:1px dashed black;
		padding:1px;
		padding-right:3px;
		padding-left:3px;
		font:18px monospace;
		text-align:right;
		float:right;
	}
	
	#score {
		display:block;
		float:none;
	}
	